<main class="dashboard">

	<div class="wrapper list-volunteers">

		<section class="message">
		
			<div class="wrapper">

			<h1>VoterVOX Volunteers</h1>
			<ul class="status">
				<li><a href="#" class="volunteers-toggle current" data-volunteers="pending">Pending</a></li>
				<li><a href="#" class="volunteers-toggle" data-volunteers="approved">Approved</a></li>
				<li><a href="#" class="volunteers-toggle" data-volunteers="banned">Banned</a></li>
				<div class='clear-fix'></div>
			</ul>
			<div class='clear-fix'></div>
			</div>

		</section><!--.message-->

		<section class="filters">

			<div class='wrapper'>
				<a class="filters" href="#">Search Filters<i class="fa search-fa fa-caret-down" aria-hidden="true"></i></a>
			</div>

			<div class="hide filters">
				<div class="wrapper">
					<%= form_tag volunteers_path, method: 'GET' do %>
						<fieldset class="languages">
						<!--TODO: JS and backend coding to check that one checbox is filled out-->
							<legend>Language</legend>
							<% language_list.each do |language| %>
								<%= label_tag 'language_'+slugify(language), language do %> 
								  <%= check_box_tag 'languages[]', language, @languages.include?(language), id: 'language_'+slugify(language) %>
								  <%=language%>
								<% end %>
							<% end %>

						</fieldset><!--.languages-->
						<fieldset class="location">

							<label for="location">Location</label>
							<%= text_field_tag 'location', @location, placeholder: "City, County, State or National" %>
							<%= submit_tag 'Search', class: "button" %>

						</fieldset>

						<div class="clear-fix"></div>

					<% end %>

				</div><!--.wrapper-->

			</div><!--.close.filters-->
			
		</section><!--.filters-->

		<section class="match-results">

			<div class="wrapper">

			<div id="approved" class="hide volunteer-boxes">
				<% @approved_volunteers.each do |volunteer| %>

				<div class="volunteer-box">

					<div class="image">
						<img src="<%= volunteer.profile_image.present? ? volunteer.profile_image.url(:square) : asset_path('volunteer.png') %>">
					</div><!--.image-->

					<div class="volunteer-info">

						<h2><%= volunteer.firstname %> <%= volunteer.lastname %>, <%= organization_name volunteer %></h2> 
						<div class="clear-fix"></div>
						<hr/>
						<span class="accepted-tag">Accepted</span>

						<ul>
							<li><strong>City:</strong> <%= volunteer.city %></li>
							<li><strong>Languages Spoken:</strong> <%= volunteer.languages.join(', ') %></li>
							<li><strong>Phone Number:</strong> <%= volunteer.phone %></li>
							<li><strong>Email Address:</strong> <%= volunteer.email %></li>
							<li><strong>Number of Active Matches:</strong> <%= volunteer.matches.active.count %></li>
							<li><strong>Number of Completed Matches:</strong> <%= volunteer.matches.completed.count %></li>
							<li><strong>Total # of Volunteer Hours:</strong> <%= (volunteer.total_duration / 60.0).round(1) %></li>
						</ul>

					</div><!--.voter-info-->

					<div class="actions">
						
						<% if volunteer.unapproved? %>
						<%= link_to 'Approve', approve_volunteer_path(volunteer), class: "button accept" %>
						<% end %>

						<div class="ban-volunteer">
						<%= link_to 'Ban', ban_volunteer_path(volunteer), method: :get, class: "deactivate btn-outline", data: { confirm: 'Are you sure you want to ban this volunteer?' } %>
					</div>

						<% if !volunteer.admin? %>
						<div class="ban-volunteer">
						<%= link_to 'Make Admin', make_admin_volunteer_path(volunteer), class: "btn-outline", method: :get,
							data: { confirm: 'Are you sure you want to make this volunteer an administrator?' } %>
						</div>
						<% end %>
					</div><!--.actions-->
					
				</div><!--.volunteer-box-->

				<% end %>

				<% if @approved_volunteers.length == 0 %>

				<div class="volunteer-box">

					<h2 class="no-matches">No Approved Volunteers</h2>

				</div>

				<% end %>
			</div><!--#approved.volunteer-boxes-->

			<div id="pending" class="volunteer-boxes">
				<% @pending_volunteers.each do |volunteer| %>
				
				<div class="volunteer-box">

					<div class="image">

						<img src="<%= volunteer.profile_image.present? ? volunteer.profile_image.url(:square) : asset_path('volunteer.png') %>">

					</div><!--.image-->

					<div class="volunteer-info">
						<h2><%= volunteer.firstname %> <%= volunteer.lastname %>, <%= organization_name volunteer %></h2> 
						<div class="clear-fix"></div>
						<hr/>
						<span class="mobile-only accepted-tag">Pending</span>
						<ul>
							<li><strong>City:</strong> <%= volunteer.city %></li>
							<li><strong>Languages Spoken:</strong> <%= volunteer.languages.join(', ') %></li>
							<li><strong>Phone Number:</strong> <%= volunteer.phone %></li>
							<li><strong>Email Address:</strong> <%= volunteer.email %></li>
							<li><strong>Number of Active Matches:</strong> <%= volunteer.matches.active.count %></li>
							<li><strong>Number of Completed Matches:</strong> <%= volunteer.matches.completed.count %></li>
							<li><strong>Total # of Volunteer Hours:</strong> <%= (volunteer.total_duration / 60.0).round(1) %></li>
						</ul>

					</div><!--.voter-info-->

					<div class="actions">
						
						<% if volunteer.unapproved? %>
						<%= link_to 'Approve', approve_volunteer_path(volunteer), class: "button accept" %>
						<% end %>

						<div class="ban-volunteer">
							<%= link_to 'Ban', ban_volunteer_path(volunteer), method: :get, class: "deactivate btn-outline", data: { confirm: 'Are you sure you want to ban this volunteer?' } %>
						</div>

						<% if !volunteer.admin? %>

						<%= link_to 'Make Admin', make_admin_volunteer_path(volunteer), class: "btn-outline", method: :get,
							data: { confirm: 'Are you sure you want to make this volunteer an administrator?' } %>
						<% end %>

					</div><!--.actions-->
					
				</div><!--.volunteer-box-->

				<% end %>

				<% if @pending_volunteers.length == 0 %>

				<div class="volunteer-box">
					<h2 class="no-matches">No Pending Volunteers</h2>
				</div>

				<% end %>
			</div><!--#pending.volunteer-boxes-->

			<div id="banned" class="volunteer-boxes hide">
				<% @banned_volunteers.each do |volunteer| %>
				
				<div class="volunteer-box">

					<div class="image">

						<img src="<%= volunteer.profile_image.present? ? volunteer.profile_image.url(:square) : asset_path('volunteer.png') %>">

					</div><!--.image-->

					<div class="volunteer-info">
						<h2><%= volunteer.firstname %> <%= volunteer.lastname %>, <%= organization_name volunteer %></h2> 
						<div class="clear-fix"></div>
						<hr/>
						<span class="mobile-only accepted-tag">Banned</span>
						<ul>
							<li><strong>City:</strong> <%= volunteer.city %></li>
							<li><strong>Languages Spoken:</strong> <%= volunteer.languages.join(', ') %></li>
							<li><strong>Phone Number:</strong> <%= volunteer.phone %></li>
							<li><strong>Email Address:</strong> <%= volunteer.email %></li>
						</ul>

					</div><!--.voter-info-->

					<div class="actions">
						
						<%= link_to 'Unban', approve_volunteer_path(volunteer), class: "button accept" %>

					</div><!--.actions-->
					
				</div><!--.volunteer-box-->

				<% end %>

				<% if @banned_volunteers.length == 0 %>

				<div class="volunteer-box">
					<h2 class="no-matches">No Banned Volunteers</h2>
				</div>

				<% end %>
			</div><!--#banned.volunteer-boxes-->

			</div><!--.wrapper-->

		</section><!--.match-results-->

	</div><!--.wrapper-->

</main><!--.dashboard-->
