<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <%= f.label :firstname %>:
    <%= f.text_field :firstname, { :placeholder => 'First Name' } %>
  </fieldset>

  <fieldset>
    <%= f.label :lastname %>:
    <%= f.text_field :lastname, { :placeholder => 'Last Name' } %>
  </fieldset>

  <fieldset>
    <%= f.label :email %><br />
    <%= f.email_field :email, { :placeholder => 'Email Address' } %>
  </fieldset>

  <fieldset>
    <%= f.label :phone %>:
    <%= f.text_field :phone, { :placeholder => 'Phone Number' } %>
  </fieldset>

  <fieldset>
    <%= f.label :address %>:
    <%= f.text_field :address, { :placeholder => 'Address' } %>
  </fieldset>

  <fieldset>
    <%= f.label :organization %>:
    <%= f.collection_select :organization_id, Organization.all, :id, :name,
      { include_blank: 'No Organization' } %>
  </fieldset>

  <fieldset>
  <% language_list.each do |language| %>
    <%= check_box_tag 'volunteer[languages][]', language, chosen_language(resource, language), id: 'language_'+slugify(language) %>
    <%= label_tag 'language_'+slugify(language), language %>
  <% end %>
  </fieldset>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
