<main class="sign-up">
  <div class="wrapper">
    <h1>Be a Translator</h1>
    <div class="pink-line">
      <span><h3>Registration</h3></span>
    </div><!--.pink-line--> 

    <%= render "devise/shared/links" %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), multipart: true) do |f| %>
      <%= devise_error_messages! %>

      <div class="float-left first-name">

        <%= f.label :"First Name*", { :for => "volunteer_firstname" } %>
        <%= f.text_field :firstname, { :placeholder => 'First Name' } %>
      </div>

      <div class="float-left">
        <%= f.label :"Last Name*", { :for => "volunteer_lastname" }  %>
        <%= f.text_field :lastname, { :placeholder => 'Last Name' } %>
      </div>

      <div class="float-left email">
        <%= f.label :"Email Address *", { :for => "email" } %>
        <%= f.email_field :email, { :placeholder => 'Email Address' } %>
      </div>

      <div class="float-left">
        <%= f.label :"Phone Number *", { :for => "phone" } %>
        <%= f.text_field :phone, { :placeholder => 'Phone Number' } %>
      </div>
      <div class="clear-fix"></div>
      <%= f.label :address do %>Your Home Address *
        <span class="helper-text">(This is needed to find matches closest to you.)</span>
      <% end %>
      <%= f.text_field :address, { :placeholder => 'Home Address' } %>

      <%= f.label :"Are you volunteering through an organization?", { :for => "organization" } %>
      <%= f.collection_select :organization_id, Organization.all, :id, :name,
        { include_blank: 'No Organization' } %>

      <%= field_set_tag 'Language(s you speak proficiently*: ', class: 'languages' do %>

          <a class="tooltip-hover" href="">?</a>
          <div class="tooltip hidden">
            By proficient we mean any languages you feel comfortable speaking casually about voting and various issues
          </div>
          <% language_list.each do |language| %>
              <%= label_tag 'language_'+slugify(language), language do %> 
                <%= check_box_tag 'volunteer[languages][]', language, chosen_language(resource, language), id: 'language_'+slugify(language) %>
                <%=language%>
          <% end %>

        <% end %>
      
          <div class="clear-fix"></div>
        
      <% end %>

      <div class="fileinputs">
        <!-- <input class="file" type="file" name="photo" value="Select an image" size="300"> -->
        <%= f.file_field :profile_image, { :class => "file" } %>
        <div class="fakefile">
          <input placeholder="Photo Upload"/>
          <button class="btn-outline">Select an image</button>
        </div><!--.fakefile-->
      </div><!--.file-inputs-->

      <div class="passwords">
        <div class="float-left password">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="float-left confirm-password">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="clear-fix"></div>
      </div>
      <%= f.submit "Sign up", class: "button" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div><!--.wrapper-->
</main>
