<main class="table translations">

  <div class="wrapper">

    <h1>Translations for <%= t('locale_name', locale: @locale) %></h1>

    <% if translation_for_key(@translations, 'enabled').present? %>
      <% enabled = translation_for_key(@translations, 'enabled') %>
      <% form_url = locale_translation_path(:id => enabled.id) %>
    <% else %>
      <% enabled = Translation.new(locale: @locale, key: 'enabled', value: 'false') %>
      <% form_url = locale_translations_path %>
    <% end %>
    <%= form_for enabled, url: form_url do |form| %>
      <span>Translation State: <%= enabled.value == 'false' ? 'Disabled' : 'Enabled' %></span>
      <%= form.hidden_field :locale %>
      <%= form.hidden_field :key %>
      <%= form.hidden_field :value, { :value => enabled.value == 'false' ? 'true' : 'false' } %>
      <%= form.submit enabled.value == 'false' ? 'Enable' : 'Disable', class: "button" %>
    <% end %>

    <table>
      <thead>
        <tr>
          <th class="row-id">Translation Key</th>
          <th class="row-en">English Version</th>
          <th class="row-trans"><%= t('locale_name', locale: @locale) %> Translation</th>
          <th class="row-action">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% translation_keys.each do |key| %>
          <% next if key == 'enabled' %>
          <% translation = translation_for_key(@translations, key) %>
          <tr id="<%= key %>">
            <td><%= key %></td>
            <td><%= t(key, locale: 'en') %></td>
            <td><%= translation.nil? ? I18n.t(key, locale: @locale) : translation.value %></td>
            <td>
              <% if translation.nil? %>
                <%= link_to "Edit", new_locale_translation_url(@locale, key: key), class: "button" %>
              <% else %>
                <%= link_to "Edit", edit_locale_translation_url(@locale, translation), class: "button" %>
                <%= link_to "Reset", locale_translation_url(@locale, translation), method: :delete, class: "button btn-outline", data: { confirm: "Are you sure?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div><!--.wrapper-->

</main><!--.table-->