<main class="page">
	<div class="wrapper">
		<%= form_for @translation, url: locale_translations_path do |form| %>
		  <%= form.label :locale %> <%= form.text_field :locale, readonly: true %>
		  <%= form.label :key %> <%= form.text_field :key, readonly: true %>
		  <%= form.label :value %> <%= form.text_area :value, value: I18n.t(@translation.key, locale: @locale) %>

		  <%= form.submit 'Save Translation', class: "button" %> <%= link_to "Cancel", locale_translations_url(@locale), class: "btn-outline button" %>
		<% end %>
	</div><!--.wrapper-->
</main>