<main class="dashboard metrics">

	<div class="wrapper">

		<section class="message">

			<div class="wrapper">

				<h1>VoterVOX Metrics</h1>

				<div class="timeframe-selection">
					<%= form_tag metrics_path, method: 'GET' do %>
						<%= hidden_field_tag 'start_date', 1.week.ago %>
						<%= hidden_field_tag 'end_date', 1.second.ago %>
						<%= hidden_field_tag 'timeframe', 'week' %>
						<%= submit_tag 'This Week', class: "week" %>
					<% end %>

					<%= form_tag metrics_path, method: 'GET' do %>
						<%= hidden_field_tag 'start_date', 1.month.ago %>
						<%= hidden_field_tag 'end_date', 1.second.ago %>
						<%= hidden_field_tag 'timeframe', 'month' %>
						<%= submit_tag 'This Month', class: "month" %>
					<% end %>

					<%= form_tag metrics_path, method: 'GET' do %>
						<%= hidden_field_tag 'start_date', 10.years.ago %>
						<%= hidden_field_tag 'end_date', 1.second.ago %>
						<%= hidden_field_tag 'timeframe', 'all_time' %>
						<%= submit_tag 'All Time', class: "all_time" %>
					<% end %>
					<div class="clear-fix"></div>
				</div><!--.timeframe-selection-->
				<div class="search">
					<%= form_tag metrics_path, method: 'GET' do %>
						<%= hidden_field_tag 'timeframe', 'custom' %>

						<%= field_set_tag 'Start Date:' do %>
							<%= text_field_tag 'start_date', @timeframe == 'custom' ? iso_format(@start_dt) : '', { :placeholder => 'YYYY-MM-DD', :class => 'datepicker', :id => "custom_start_date" } %>
						<% end %>

						<%= field_set_tag 'End Date:' do %>
							<%= text_field_tag 'end_date', @timeframe == 'custom' ? iso_format(@end_dt) : '', { :placeholder => 'YYYY-MM-DD', :class => 'datepicker', :id => "custom_end_date" } %>
						<% end %>

						<button class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></button>
						<div class="clear-fix"></div>
					<% end %>
					<div class="clear-fix"></div>
				</div><!--.search-->
				<div class="clear-fix"></div>

			</div>

		</section>

		<section class="overall-metrics">
			<header>
				<h3>Overall</h3>
			</header>

			<div class="wrapper">
				<div class="metric">
					<div class="metric-box">
						<div class="number"><%= @metrics[:language_count] %></div>
						<div class="details">
							<div class="details-align">Total # Languages Supported</div>
						</div>
						<div class="clear-fix"></div><!--.clear-fix-->
					</div><!--.metric-box-->
				</div><!--.metric-->
				<div class="metric">
					<div class="metric-box">
						<div class="number"><%= @metrics[:site_visitors] %></div>
						<div class="details">
							<div class="details-align">Total # Site Visitors</div>
						</div>
					</div><!--.metric-box-->
				</div><!--.metric-->

				<div class="metric">
					<div class="metric-box">
						<div class="number"><%= @metrics[:registrations] %></div>
						<div class="details">
							<div class="details-align">Total # of VoterVOX Registrations</div>
						</div>
					</div><!--.metric-box-->
					<button class="btn-outline lightbox-button" data-lightbox="number_of_registrations">Breakdown by Language</button>
				</div><!--.metric-->
				<div class="metric">
					<div class="metric-box">
						<div class="number"><%= @metrics[:views_per_language] %></div>
						<div class="details">
							<div class="details-align">Total # Views per Language</div>
						</div>
					</div><!--.metric-box-->
				</div><!--.metric-->
			</div>

			<div class="clear-fix"></div><!--.clear-fix-->

		</section><!--.overall-metrics-->

		<section class="volunteer-metrics">

			<header>
				<h3>Volunteers</h3>
			</header>

			<div class="wrapper">

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:volunteer_count] %></div>
						<div class="details">
							<div class="details-align">Total # of Volunteers</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="number_of_volunteers">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:active_volunteer_count] %></div>
						<div class="details">
							<div class="details-align">Total # Active Volunteers</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="active_volunteers">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:new_volunteer_count] %></div>
						<div class="details">
							<div class="details-align">Total # of New Volunteers</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="new_volunteers">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:average_duration] %></div>
						<div class="details">
							<div class="details-align">Avg Total Time Spent with a Voter</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="avg_time_spent">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:min_duration] %></div>
						<div class="details">
							<div class="details-align">Min. Total Time Spent with a Voter</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="min_time_spent">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:max_duration] %></div>
						<div class="details">
							<div class="details-align">Max. Total Time Spent with a Voter</div>
						</div>

					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="max_time_spent">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="clear-fix"></div><!--.clear-fix-->

			</div>

		</section><!--.volunteer-metrics-->

		<section class="voters-metrics">

			<header>
				<h3>Voters</h3>
			</header>

			<div class="wrapper">

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:voter_count] %></div>
						<div class="details">
							<div class="details-align">Total # of Voters</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="number_of_voters">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:active_match_count] %></div>
						<div class="details">
							<div class="details-align">Total # Active Matches</div>
						</div>
					</div><!--.metric-box-->

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">

						<div class="number"><%= @metrics[:new_voter_count] %></div>
						<div class="details">
							<div class="details-align">Total # New Voters</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="new_voters">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">
						<div class="number"><%= @metrics[:completed_match_count] %></div>
						<div class="details">
							<div class="details-align">Total # of Completed Matches</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="completed_matches">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="metric">

					<div class="metric-box">
						<div class="number"><%= @metrics[:unmatched_voter_count] %></div>
						<div class="details">
							<div class="details-align">Total # of Voters Without Matches</div>
						</div>
					</div><!--.metric-box-->

					<button class="btn-outline lightbox-button" data-lightbox="unmatched_voters">Breakdown by Language</button>

				</div><!--.metric-->

				<div class="clear-fix"></div><!--.clear-fix-->

			</div><!--.wrapper-->

		</section><!--.voters-metrics-->

		<section class="download">
			<div class="download-report">
				<span>Download this data report</span>
				<%= link_to 'Download', metrics_path(format: :csv), class: "button" %>
			</div><!--.download-report-->
			<div class="clear-fix"></div>

		</section><!--.download-->

	</div><!--.wrapper-->

</main>

<!--Lightboxes for Breakdown by Languages, match the data-lightbox attribute (i.e., 'number_of_volunteers' in the button and the div id of the .lightbox-->
<div class="lightbox-section">
<div id="fade" class="hide green-overlay"></div><!--.green_overlay-->


<div id="number_of_volunteers" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Volunteers</h1>
	</header>
	<% @metrics[:volunteer_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#number_of_volunteers-->


<div id="number_of_registrations" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Registrations</h1>
	</header>
	<% @metrics[:registrations_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#number_of_registrations-->


<div id="active_volunteers" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Active Volunteers</h1>
	</header>
	<% @metrics[:active_volunteer_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#active_volunteers-->

<div id="new_volunteers" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of New Volunteers</h1>
	</header>
	<% @metrics[:new_volunteer_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#new_volunteers-->

<div id="avg_time_spent" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Average Time Spent</h1>
	</header>
	<% @metrics[:average_duration_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#avg_time_spent-->

<div id="min_time_spent" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Minimum Time Spent</h1>
	</header>
	<% @metrics[:min_duration_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#min_time_spent-->

<div id="max_time_spent" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Maximum Time Spent</h1>
	</header>
	<% @metrics[:max_duration_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#max_time_spent-->

<div id="number_of_voters" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Voters</h1>
	</header>
	<% @metrics[:voter_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#number_of_voters-->

<div id="new_voters" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of New Voters</h1>
	</header>
	<% @metrics[:new_voter_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#new_voters-->

<div id="completed_matches" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Completed Matches</h1>
	</header>
	<% @metrics[:completed_match_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#completed_matches-->

<div id="unmatched_voters" class="lightbox hide breakdown-language">
	<div class="close-icon"></div>
	<header>
		<h1>Total # of Unmatched Voters</h1>
	</header>
	<% @metrics[:unmatched_voter_count_by_language].each do |language,count| %>
	<div class="metric-box">
		<div class="number"><%= count %></div>
		<div class="language"><%= language %></div>
	</div><!--.metric-box-->
	<% end %>
	<div class="clear-fix"></div>

</div><!--.lightbox.breakdown-language#unmatched_voters-->
</div>