<footer class="mobile-only">

	<div class="wrapper">

		<div class="mobile-only">
			<a href="<%= feedback_path %>"><%= t('voter_dashboard.menu.feedback')%></a>
		</div><!--.mobile-only-->
		
		<div class="share-with-community">

			<div><%= t('voter_dashboard.menu.share')%></div>

			<div class="buttons">
				<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="" class=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
				<div class="clear-fix"></div>
			</div>

		</div><!--.share-with-community-->

		<div class="terms">
			<ul>
				<li><a href="<%= homepage_path %>">&copy; VoterVOX</a></li>
				<li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
				<li><a href="<%= terms_of_service_path%>">Terms</a></li>
			</ul>
			<div class="clear-fix"></div>
		</div><!--.terms-->

	</div><!--.wrapper-->

</footer><!--.mobile-only-->