<aside class="tablet desktop">

	<a class="brand" href="<%= homepage_path %>">VoterVox</a>
	
	<div class="volunteer-dashboard">

		<% if admin_signed_in? %>
			<h1>Admin Dashboard</h1>
		<% else %>
		
		<h1>Volunteer Dashboard</h1>
		
		<% end %>

	</div><!--.volunteer-dashboard-->

	<% if admin_signed_in? %>
		<a class="button <%= at_voters_list? ? "selected" : "pink" %>" href="<%= voters_path %>">
			Voters
		</a>
		<a class="button <%= at_volunteer_list? ? "selected" : "pink" %>" href="<%= volunteers_path %>">Volunteers</a>
		<a href="<%= organizations_path %>" class="button <%= at_organization_home? ? "selected" : "pink" %>">Organizations</a>
		<a href="<%= metrics_path %>" class="button <%= at_metrics? ? "selected" : "pink" %>">Metrics</a>

	<% else %>

		<a href="<%= volunteers_home_path %>" class="button <%= at_volunteer_home? ? "selected" : "pink" %>">Getting Started</a>		
		<a href="<%= matches_path %>" class="button <%= at_matches? ? "selected" : "pink" %>">Your Matches</a>
	<% end %>

	<a href="<%= documents_path %>" class="button <%= at_documents_index? ? "selected" : "pink" %>" >Voter Resources</a>

	<a href="<%= new_document_path %>" class="button <%= at_documents_new? ? "selected" : "pink" %>">Add a Translated Resource</a>

	<% if !admin_signed_in? %>

		<a class="button <%= at_feedback? ? "selected" : "pink" %>"  href="<%= feedback_path %>">
			Give Feedback
		</a>

	<% end %>

	<%= link_to('Logout', destroy_volunteer_session_path, :method => :delete, class: "button") %>

	<%= render "/shared/share_with_community" %>

</aside><!--.tablet-desktop-->