<aside class="tablet desktop">

	<a class="brand" href="/">VoterVox</a>

	<div class="voter-dashboard">
		<h1><%= t( 'voter_dashboard.menu.dashboard') %></h1>
	</div><!--.voter-dashboard-->
	
	<% if @voter.present? && @voter.active? %>

	<a href="<%= @voter.home_url%>" class="button <%= at_voter_home? ? "selected" : "pink" %>" ><%= t('voter_dashboard.menu.translator') %></a>

	<% else %>

	<a href="<%= new_voter_path %>" class="button pink" ><%= t('voter_registration.title') %></a>

	<% end %>

	<a href="/voter-resources" class="button <%= at_documents? ? "selected" : "pink" %>"><%= t('voter_dashboard.menu.resources')%></a>

	<a class="button <%= at_feedback? ? "selected" : "pink" %>"  href="/feedback">
		<%= t('voter_dashboard.menu.feedback')%>
	</a>

	<%= render "/shared/share_with_community" %>

</aside><!--.tablet.desktop-->