<main class="dashboard">
	<div class="wrapper">
		<section class="match-results">
			<div class="wrapper">
				<h1>VoterVOX Voters</h1>
				<ul class="status">
					<li><a href="">Unmatched Voters</a></li>
					<li><a class="current" href="">Matched Voters</a></li>
					<li><a href="">Completed Matches - Voters Helped</a></li>
					<div class="clear-fix"></div>
				</ul>
   				<!--@unmatched voters, right now listing all voters-->
				<% @voters.each do |voter| %>

				<div class="voter-box unmatched">
					<div class="image"><img src=""></div><!--.image-->
					<div class="voter-info">
						<h2><%= voter.firstname %> <%= voter.lastname %>, </h2>
						<hr/>
						<ul>
							<li><strong>Email/Phone:</strong> <%= voter.contact %></li>
							<li><strong>First Time Voter: </strong><%= voter.first_time_voter %></li>
							<li><strong>City:</strong> <%= voter.city %></li>
							<li><strong>Languages:</strong> <%= voter.languages.join(', ') %></li>
							<li><strong>Proximity to You:</strong> 19 miles</li>
							<li><strong>English Proficiency:</strong> <%= voter.english_comfort %> </li>
						</ul>
					</div><!--.voter-info-->
					
				</div><!--.voter-box-->

				<% end %>
				<!-- TODO: @matched voters-->
				<!-- TODO: @completed voters-->

			</div><!--.wrapper-->

		</section><!--.match-results-->

	</div><!--.wrapper-->
</main>
