<main class="dashboard">
	<div class="wrapper">
		<section class="match-results">
			<div class="wrapper">
				<h1>VoterVOX Voters</h1>
				<ul class="status">
					<li><a class="voters-toggle" href="#" data-voters="unmatched">Unmatched Voters</a></li>
					<li><a class="voters-toggle" data-voters="matched" href="#">Matched Voters</a></li>
					<li><a class="voters-toggle" href="#" data-voters="completed">Completed Matches - Voters Helped</a></li>
					<div class="clear-fix"></div>
				</ul>
				<div class="divi-bar"></div>

				<div id="unmatched" class="hide voter-boxes">

					<% @unmatched.each do |voter| %>

					<div class="voter-box">
						<div class="voter-info">
							<h2><%= voter.firstname %> <%= voter.lastname %></h2>
							<hr/>
							<ul>
								<li><strong>Email/Phone:</strong> <%= voter.contact %></li>
								<% first_time_voter = voter.first_time_voter %>
								<li><strong>First Time Voter: </strong><%= first_time_voter ? 'yes' : 'no'%></li><li><strong>City:</strong> <%= voter.city %></li>
								<li><strong>Languages:</strong> <%= voter.languages.join(', ') %></li>
								<li><strong>English Proficiency:</strong> <%= voter.english_comfort %> </li>
							</ul>
						</div><!--.voter-info-->
						
					</div><!--.voter-box-->

					<% end %>
					<% if @unmatched.length == 0 %>

						<div class="voter-box">
							<h2  class="no-matches">No Unmatched Voters</h2>
						</div>

					<% end %>
				</div><!--#unmatched.voter-boxes-->

				

				<div id="matched" class="hide voter-boxes">
					<% @matched.each do |voter| %>

					<div class="voter-box">
						<div class="voter-info">
							<h2><%= voter.firstname %> <%= voter.lastname %></h2>
							<hr/>
							<ul>
								<li><strong>Email/Phone:</strong> <%= voter.contact %></li>
								<% first_time_voter = voter.first_time_voter %>
								<li><strong>First Time Voter: </strong><%= first_time_voter ? 'yes' : 'no'%></li>
								<li><strong>City:</strong> <%= voter.city %></li>
								<li><strong>Languages:</strong> <%= voter.languages.join(', ') %></li>
								<li><strong>English Proficiency:</strong> <%= voter.english_comfort %> </li>

							</ul>
						</div><!--.voter-info-->
						
					</div><!--.voter-box-->

					<% end %>
					<% if @matched.length == 0 %>

					<div class="voter-box">
						<h2 class="no-matches">No Matched Voters</h2>
					</div><!--.matched-->

					<% end %>
				</div><!--#matched.voter-boxes-->


				

				<div id="completed" class="hide voter-boxes">
					<% @completed.each do |voter| %>

					<div class="voter-box">
						<div class="voter-info">
							<h2><%= voter.firstname %> <%= voter.lastname %></h2>
							<hr/>
							<ul>
								<li><strong>Email/Phone:</strong> <%= voter.contact %></li>
								<li><strong>First Time Voter: </strong><%= voter.first_time_voter %></li>
								<li><strong>City:</strong> <%= voter.city %></li>
								<li><strong>Languages:</strong> <%= voter.languages.join(', ') %></li>
								<li><strong>English Proficiency:</strong> <%= voter.english_comfort %> </li>
								<% first_time_voter = voter.first_time_voter %>
								<% if first_time_voter %>
									<li><strong>First Time Voter</strong></li>
								<% end %>
							</ul>
						</div><!--.voter-info-->
						
					</div><!--.voter-box-->

					<% end %>
					<% if @completed.length == 0 %>

						<div class="voter-box">
							<h2 class="no-matches">No Completed Matches</h2>
						</div>

					<% end %>

				</div><!--#completed.voter-boxes-->

				

			</div><!--.wrapper-->

		</section><!--.match-results-->

	</div><!--.wrapper-->
</main>
