
<main class="sign-up">
	<div class="wrapper">

		<h1><%= t('voter_registration.title') %></h1>
		<div class="pink-line"></div>
		<%= form_for :voter, url: voters_path, method: 'POST' do |f| %>
            <%= f.hidden_field :locale, :value => params[:locale] || 'en' %>

			<% if @voter.errors.any? %>
		        <% @voter.errors.full_messages.each do |msg| %>
		        	<p class='error'><%= msg %></p>
		        <% end %>
			<% end %>

			<div class="float-left first-name">
				<%= f.label :"#{t('voter_registration.form.firstname')}*", {:for => "voter_firstname"} %>
				<%= f.text_field :firstname, { :placeholder => "#{t('voter_registration.form.firstname')}", :class => 'first-name' } %>
			</div>

			<div class="float-left">
				<%= f.label :"#{t('voter_registration.form.lastname')}*", {:for => "voter_lastname"} %>
				<%= f.text_field :lastname, { :placeholder => "#{t('voter_registration.form.lastname')}", :class => 'last-name' } %>
			</div>

			<%= f.label :"#{t('voter_registration.form.communication_type')}*", {:for => "voter_communication_mode"} %>
			<%= f.select :communication_mode,
				options_for_select(@communication_options, @voter.communication_mode || false),
				{ include_blank: "#{t('voter_registration.form.communication_type')}" } %>

			<%= f.label :"#{t('voter_registration.form.contact')}*", {:for => "voter_contact"} %>
			<%= f.text_field :contact, { :placeholder => "#{t('voter_registration.form.contact_placeholder')}" } %>

			<%= f.label :"#{t('voter_registration.form.address')}*", {:for => "address"} %>
			<%= f.text_field :address, { :placeholder => 'Enter your address', :required => true, :id => "autocomplete" } %>
            <%= f.hidden_field :latitude, { :id => "latitude", :class => "field" } %>
            <%= f.hidden_field :longitude, { :id => "longitude", :class => "field" } %>
            <%= f.hidden_field :city, { :id => "locality", :class => "field" } %>
            <%= f.hidden_field :state, { :id => "administrative_area_level_1", :class => "field" } %>
            <input class="field" id="street_number" disabled="true" type="hidden"></input>
            <input class="field" id="route" disabled="true" type="hidden"></input>
            <input class="field" id="postal_code" name="zipcode" disabled type="hidden"></input>
            <input class="field" id="country" name="country" disabled="true" type="hidden"></input>


			<%= field_set_tag "#{t('voter_registration.form.languages')}*", class: 'languages' do %>
			<% language_list.each do |language| %>
				<%= label_tag 'language_'+slugify(language), language do %> 
				  <%= check_box_tag 'voter[languages][]', language, chosen_language(@voter, language), id: 'language_'+slugify(language) %>
				  <%=language%>
				<% end %>
			  	
			  <% end %>
			  	<div class="clear-fix"></div>
			<% end %>


			<%= f.label :"#{t('voter_registration.form.english_comfort')}*", {:for => "english_comfort"}  %>
			<%= f.select :english_comfort,
				options_for_select(@comfort_options, @voter.english_comfort || false),
				{ include_blank: 'Select One' } %>

			<%= f.label :"#{t('voter_registration.form.first_time_voter')}*", {:for => "english_comfort"}, {:for => "first_time_voter" } do %>
				<%= f.check_box :first_time_voter %><%= t('voter_registration.form.first_time_voter') %>
			<% end %>
			<%= f.submit "#{t('voter_registration.button')}", :class => 'big-button button' %>
			<div class="opt-in-language">
				<%= t('voter_registration.disclaimer') %>
			</div><!--.opt-in-language-->

		<% end %>
	</div><!--.wrapper-->
</main>

