<main class="dashboard">

	<div class="wrapper">

		<div class="notice"><%= notice %></div>
		<div class="alert"><%= alert %></div>

		<section class="message">

			<div class="wrapper">
				<h1><%= t('voter_dashboard.request.title')%></h1>
			</div>

		</section><!--.message-->

		<section class="next-steps">

			<div class="wrapper">
				<h2><%= t('voter_dashboard.request.steps_title')%></h2>
				<ul>
					<li><%= t('voter_dashboard.request.step1')%></li>
					<li><%= t('voter_dashboard.request.step2')%></li>
					<li><%= t('voter_dashboard.request.step3')%></li>
					<li><%= t('voter_dashboard.request.step4')%></li>
				</ul>

				<div class="view-profile">

					<p><%= t('voter_dashboard.request.profile_link')%></p>
					<input type="text" value="http://votervox.org<%= @voter.home_url%>">
					<p>(You will also find this link in your confirmation email).</p>
				</div><!-- .view-profile -->

			</div><!--.wrapper-->

		</section><!--.more-info-->

		<section class="cancel-request">

			<div class="wrapper">
				<%= link_to t('voter_dashboard.request.cancel'), cancel_voter_path(@voter), class: "btn-outline" %>
				<div class="clear-fix"></div>

			</div><!--.wrapper-->
			
		</section><!--.cancel-request-->

	</div><!--.wrapper-->

</main><!--.dashboard-->

<section class="voter-resources">
			<div class="wrapper">
				<h2><%= t('voter_dashboard.request.resource_title') %></h2>
				<a href="<%= documents_path %>" class="button"><%= t('voter_dashboard.request.button')%></a>
			</div><!--.wrapper-->
			
		</section><!--.voter-resources-->