<main class="dashboard">
	<section class="message">
		<h1><%= t('voter_dashboard.completed.title') %></h1>
		<p><%= t('voter_dashboard.completed.prompt')%></p>
		<%= link_to t('voter_dashboard.completed.button'), activate_voter_path(@voter), class: "btn-outline" %>

	</section><!--.message-->
	<section class="feedback">
		<p>We'd love your feedback on your experience with Samart, VoterVOX and ways we can improve.</p>
		<%= form_tag submit_feedback_path, method: 'POST' do %>
			<%= hidden_field_tag 'subject', 'Feedback from ' + @user_type.upcase %>
			<%= hidden_field_tag 'firstname', @voter.firstname %>
			<%= hidden_field_tag 'lastname', @voter.lastname %>
			<%= hidden_field_tag 'email', @voter.email %>

			<%= field_set_tag 'Your feedback to VoterVOX *' do %>
				<%= text_area_tag 'message', '', { :placeholder => 'Your feedback to VoterVOX' } %>
			<% end %>

			<%= submit_tag 'Submit', class: "button" %>

		<% end %>
		<%= link_to 'Submit a Match Request', activate_voter_path(@voter), class: "btn-outline" %>
		
	</section><!--.next-steps-->

</main>