<main class="dashboard">

	<div class="wrapper">

		<section class="message">
			<div class="wrapper">
				<h1>Resources for You</h1>
			</div>
		</section><!--.message-->

		<section class="filters">

			<a class="filters" href="#">Search Filters<i class="fa fa-caret-up" aria-hidden="true"></i></a>
			<div class="hide filters">
				<div class="wrapper">
					<fieldset class="languages">

					<%= form_tag documents_path, method: 'GET' do %>

						<%= field_set_tag 'Language:', class: "languages" do %>
							<% language_list.each do |language| %>

								<%= label_tag 'language_'+slugify(language), language do %> 
								  <%= check_box_tag 'languages[]', language, @languages.include?(language), id: 'language_'+slugify(language) %>
								  <%=language%>
								<% end %>
							<% end %>
						<% end %>

						<%= field_set_tag 'Resource Type:', class: "resource-type" do %>
							<% resource_type_list.each do |resource_type| %>
								<%= label_tag 'resource_'+slugify(resource_type), resource_type do %> 
								  <%= check_box_tag 'resource_type[]', resource_type, @resource_type.include?(resource_type), id: 'resource_'+slugify(resource_type) %>
								  <%=resource_type %>
								<% end %>
							<% end %>
						<% end %>

						<%= field_set_tag 'Location', class: "location" do %>
							<%= text_field_tag 'location', @location, placeholder: "City, County, State or National" %>
							<%= submit_tag 'Search', class: "button" %>
						<% end %>

					<% end %>

					<div class="clear-fix"></div>

				</div><!--.wrapper-->

			</div><!--.close.filters-->

		</section><!--.filters-->

		<section class="resources">

			<div class="wrapper">

				<div class="filter-boxes">
					<% @languages.each do |language| %>
						<div class='filter-box'>Language Tag: <%= language %><i class="fa fa-times"></i>
						</div>
					<% end %>

					<% @resource_type.each do |resource| %>
						<div class="filter-box">Resource Tag: <%= resource %><i class="fa fa-times"></i>
						</div>
					<% end %>
					<div class="clear-fix"></div>
				</div><!--.filter-boxes-->

				<% @documents.each do |document| %>
				<a class="document-box" href="<%= document_path(document) %>">
					<header><%= document.name %></header>
					<div class="language">Translated Language:<strong><%= document.translated_language %></strong></div>
					<div class="details">
						<p>Percent translated: 80%</p>
						<p>Submitted by: <%= document.submitter.firstname %> <%= document.submitter.lastname[0] %>.</p>
						<p>Submitted on: <%= document.created_at.strftime("%B %-d, %Y") %></p>
					</div>
				</a><!--.document-box-->
				<% end %>

				<div class="clear-fix"></div><!--.clear-fix-->
			
			</div><!--.wrapper-->

		</section><!--.resources-->	

	</div><!--.wrapper-->

</main><!--.dashboard-->