<main class="dashboard">

	<div class="wrapper">
	
		<section class="message">

			<div class="wrapper">

				<h1><%= @document.name %></h1>
				<div class="language">Translated Langauge:<strong><%= @document.translated_language %></strong></div>
				<div class="details">
					<p>Percent translated: 80%</p>
					<p>Submitted by: <%= @document.submitter.firstname %> <%= @document.submitter.lastname[0] %>.</p>
					<p>Submitted on: <%= @document.created_at.strftime("%B %-d, %Y") %></p>
				</div>

			</div><!--.wrapper-->

		</section><!--.message-->

		<section class="contents">
			<div class="wrapper">
				<!--.pdf or word or other document rendering-->

				<% if @document.file.present? %>
				<iframe src="http://docs.google.com/gview?url=<%= @document.file.url %>&embedded=true" style="width: 100%; height:600px" frameborder="0"></iframe>
				<% else %>
				<p>Sorry, this document appears to be missing!</p>
				<% end %>

			</div>

		</section><!--.contents-->

	</div><!--.wrapper-->

</main><!--.dashboard-->
