<main class="log-in">

  <div class="wrapper">
  
    <h1>Translator</h1>
    <div class="pink-line">
      <span><h3>Login</h3></span>
    </div><!--.pink-line-->

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :"Email Address", {:for => "email" }%>
      <%= f.email_field :email, { :placeholder => 'Email Address', :required => true, :autofocus => true } %>

      <%= f.label :password, {:for => "password" } %>
      <%= f.password_field :password, { :placeholder => 'Password', :autocomplete => 'off' } %>

      <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember Me?
          <%end%>
      <% end -%>

      <%= f.submit :"Log in", { :class => "button" }%>
    
    <% end %>

      <%= render "devise/shared/links" %>

  </div><!--.wrapper-->

</main><!--.log-in-->