<main class="dashboard">
		<section class="message">
			<div class="wrapper">

				<h1>You've been matched!</h1>

				<p>Here's your translator.</p>

			</div><!--.wrapper-->
		</section><!--.message-->

		<div class="wrapper">
			<section class="translator">
				<img src="<% asset_path('smart-payakaroon.jpg') %>">
				<div class="details">
					<h2><%= @volunteer.firstname %> <%= @volunteer.lastname %></h2>
					<p><%= @volunteer.email %> <%= @volunteer.phone %></p>
					<hr />
					<ul>
						<li><strong>City:</strong> <%= @volunteer.city %></li>
						<li><strong>Proximity to You:</strong> 19 miles</li>
						<li><strong>Language(s) Spoken:</strong> <%= @volunteer.languages.join(', ') %></li>
					</ul>
				</div><!--.details-->
				<div class="clear-fix"></div>
			</section><!--.translator-->
		<% if @proposal.present? %>
			<section class="available-times">
				<div class="wrapper">
					<h2><%= @volunteer.firstname %>'s available times:</h2>
					<textarea readonly><%= @proposal.message %></textarea>
					<% if @match.proposed? %>

						<%= link_to 'Accept', @match.voter_accept_url, class: "button accept" %>
						<%= link_to 'Decline', @match.voter_reject_url, class: "button decline" %>

						<%= form_for :match, url: @match.voter_request_time_url, method: 'POST' do |f| %>
							<h2>Request new time</h2>
							<textarea name="message" placeholder="Write your date and time preference here."></textarea>
							<%= f.submit 'Request a Different Time', class: "button request" %>
						<% end %>

					<% end %>
					<button class="accept">Accept</button>
					<button class="decline">Decline</button>
					<div class="clear-fix"></div>
					<button class="request">Request a Different Time</button>
				</div><!--.wrapper-->
			</section><!--.available-times-->

		<% end %>
		</div><!--.wrapper-->
	</main>

	<div id="fade" class="green-overlay hide"></div><!--.green_overlay-->

	
<% if @match.status == MatchesHelper::STATUS_ACCEPTED %>
	<div id="accepted_message" class="light hide">
		<div class="close-icon"></div>
		<h2>You've accepted Samart as your translator.</h2>
		<div class="pink-hr"></div>
		<div>
			<p>The next step:</p>
			<p>Samart will contact you to confirm a time and location</p>
		</div><!--.next-step-->
		<div class="contact-info pink-box">
			<p>Samart's Contact Information:</p>
			<div class="phone-number"><%= @volunteer.phone %></div>
		</div><!--.contact-info-->

	</div><!--.light#accepted_message-->
<% end %>

<% if @match.status == MatchesHelper::STATUS_VOTER_DECLINED %>
	<div id="decline_message" class="light hide">
		<div class="close-icon"></div>
		<h2>We're sorry this match won't work for you.</h2>
		<div class="pink-hr"></div>
		<div>
			<p>But we're looking for a new match now. We'll contact you when we find one.</p>
		</div>

	</div><!--.light#decline_message-->
<% end %>

<% if @match.status == MatchesHelper::STATUS_VOLUNTEER_DECLINED %>
	<div id="not_available_message" class="light hide">
		<div class="close-icon"></div>
		<h2>Unfortunately your volunteer can no longer meet with you.</h2>
		<div class="pink-hr"></div>
		
		<div>
			<p>But we're looking for a new match now. We'll contact you when we find one.</p>
		</div>

	</div><!--#light.not-available-->
<% end %>

<!--TODO: Match completed should take the voter to a completely new page to fill out their feedback form. Right now it's showing up as a lightbox option. We need another form for requesting a new time instead in the lightbox-->
<% if @match.status == MatchesHelper::STATUS_COMPLETED %>
	<h2>Lightbox with match completion information</h2>
	<%= link_to 'Submit a Match Request', voter_activate_request_path(:hashed_id => @match.voter.hashed_id) %>

	<h3>Submit some feedback!</h3>
	<%= form_tag submit_feedback_path, method: 'POST' do %>
		<%= hidden_field_tag 'subject', 'Match completion feedback' %>
		<%= hidden_field_tag 'voter_id', @match.voter.id %>

		<%= text_area_tag 'message', '', { :placeholder => 'Your feedback to VoterVOX' } %>

		<%= submit_tag 'Submit' %>
	<% end %>
<% end %>


<div id="request_time" class="light hide">
	<div class="close-icon"></div>
	<h2>Request a different time with Samart</h2>
	<div class="pink-hr"></div>
	<div>
		<form>
			<textarea>Write your date and time preferences here.</textarea>
			<input class="button" type="submit" value="Contact">
		</form>
		
	</div>

</div><!--.light#request_time-->