<section class="hero">

	<div class="content">
		<div class="hero-image"><img alt="Democracy in Every Language" src="<%= asset_path "democracy.png" %>" /></div>
		<h1 class="hide"><%= t('homepage.tagline') %></h1>
		<div class="div-bar"></div>
		<div class="tagline"><%= t('homepage.intro_text') %></div>
	</div><!--.content-->
	
</section><!--.hero-->

<section class="getting-started">

	<div class="wrapper">
		<h2><%= t('homepage.title') %></h2>
		<form action="/" method="GET">
			<label for="language"><%= t('homepage.prompt') %></label>
			<%= select_tag :locale, options_for_select(translation_options, params[:locale] || "en") %>
			<div class="home-buttons">
				<a class="button find-a-translator" href="<%= new_voter_path %>"><%= t('homepage.voter_button') %></a>
				<a class="be-a-translator button" href="<%= new_volunteer_registration_path %>"><%= t('homepage.volunteer_button') %></a>
				<div class="clear-fix"></div>
			</div><!-- .home-buttons -->
		</form>

	</div><!--.wrapper-->

</section> <!--.getting-started-->

<section class="how-it-works">

	<div class="wrapper">

		<h2><%= t('homepage.title2') %></h2>

		<div class="step">			

			<div class="description">
				<div class="number">1</div><!--.number-->
				<p><%= t('homepage.step1') %></p>
			</div><!--.description-->

			<img src="<%= asset_path "works-step1.png" %>" class="float-right">

			<div class="clear-fix"></div>

		</div><!--.step-->

		<div class="step">
			<img src="<%= asset_path "works-step2.png" %>" class="float-left">

			<div class="description">
				<div class="number">2</div><!--.number-->
				<p><%= t('homepage.step2') %></p>
			</div><!--.description-->

			<div class="clear-fix"></div>

		</div><!--.step-->

		<div class="step">
			
			<div class="description">

				<div class="number">3</div><!--.number-->
				<p><%= t('homepage.step3') %></p>

			</div><!--.description-->

			<img src="<%= asset_path "works-step3.png" %>" class="float-right">

			<div class="clear-fix"></div>

		</div><!--.step-->

	</div><!--.wrapper-->

</section><!--.how-it-works-->