<!DOCTYPE html>
<html>
<head>
  <title>VoterVox</title>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
  	  <!--[if lt IE 9]>
  	  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv-printshiv.js"></script>
  	  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">
	<header class="mobile-only">
		<div class="wrapper">
			<a class="brand">VoterVox Branding</a>
			<div class="close-icon mobile-only"></div>
			<div class="clear-fix mobile-only"></div>
			<div class="green">Admin Dashboard</div>
			<nav class="main close">
				<ul>
					<li><a href="/">Volunteers</a></li>
					<li><a href="">Metrics</a></li>
					<li><a href="/voter-resources.html">Voter Resources</a></li>
					<li><a href="/add-resource.html">Add a Translated Resource</a></li>
				</ul>
			</nav>
		</div><!--.wrapper-->

	</header>

	<%= render "/shared/admin_sidebar" %>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<main class="dashboard">
		<div class="wrapper">
			<%= yield %>
		</div>
	</main>
	
	<%= render "/shared/footer" %>

</body>
</html>
