<!DOCTYPE html>
<html>
<head>
  <title>VoterVox</title>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
  	  <!--[if lt IE 9]>
  	  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv-printshiv.js"></script>
  	  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCxl8q98TAB-oDt7b5PlaTAkQsK4XP0vP0&libraries=places&callback=initAutocomplete", :async => true, :defer => true %>

</head>
<body>
	<header>
		<div class="wrapper">
			<a class="brand" href="<%= homepage_path %>">VoterVox Branding</a>
			<div class="menu-icon mobile-menu">
			</div>
			<div class="clear-fix mobile-menu"></div>
			<nav class="tablet-menu desktop main close">
				<ul>
					<% if volunteer_signed_in? %>
						<li><a href="<%= volunteers_home_path %>">Getting Started</a></li>
						<li><a href="<%= matches_path %>">Your Matches</a></li>
						<li><a href="<%= about_path %>">About VoterVOX</a></li>
						<li><%= link_to('Logout', destroy_volunteer_session_path, :method => :delete) %></li>
					<% else %>
						<% if cookies[:_vv_hashed_id].present? %>
							<li><a href="<%= '/voters/'+ cookies[:_vv_hashed_id] %>">Your Translator</a></li>
						<% else %>
							<li><a href="<%= new_voter_path %>">Find a Translator</a></li>
							<li><a href="<%= new_volunteer_registration_path %>">Be a Translator</a></li>
							<li><a href="<%= new_volunteer_session_path %>">Translator Login</a></li>
						<% end %>
						<li><a href="<%= documents_path %>">Voter Resources</a></li>
						<li><a href="<%= about_path %>">About VoterVOX</a></li>
					<% end %>
					<div class="clear-fix"></div>	
				</ul>
			</nav>
			<div class="clear-fix"></div>
		</div><!--.wrapper-->

	</header>

	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>

	<%= yield %>
	
	<footer>
		<div class="wrapper">
			<div class="mobile-only">
				<a href="/feedback?locale=en">Give Feedback</a>
			</div><!--.mobile-only-->
			<div class="share-with-community">
				<div class="share-title">Share with Your Community</div>
				<div class="buttons">
					<a class="popup-link" href="https://www.facebook.com/sharer/sharer.php?u=http://beta.votervox.org"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a class="popup-link" href="https://twitter.com/intent/tweet?text=VoterVOX"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a class="popup-link" href="mailto:?subject=VoterVOX&amp;body=www.votervox.org"><i class="fa fa-envelope" aria-hidden="true"></i></a>
					<div class="clear-fix"></div>
				</div><!-- .buttons -->

			</div><!--.share-with-community-->
			<div class="terms">
				<ul>
					<li>&copy; VoterVOX</li>
					<li><a href="/privacy">Privacy Policy</a></li>
					<li><a href="/terms">Terms</a></li>
					<div class="clear-fix"></div>
				</ul>
			</div>
			<div class="clear-fix"></div>



		</div><!--.wrapper-->

	</footer>

</body>
</html>
