<!DOCTYPE html>
<html>
<head>
  <title>VoterVox</title>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
  	  <!--[if lt IE 9]>
  	  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv-printshiv.js"></script>
  	  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">
	<header class="mobile-only">
		<div class="wrapper">
			<a class="brand">VoterVox Branding</a>
			<div class="menu-icon"></div>
			<div class="clear-fix"></div>
			<div class="green">Volunteer Dashboard</div>
			<nav class="hide main">
				<ul>
					<% if volunteer_signed_in? %>
					<li><a href="/volunteers/">Getting Started</a></li>
					<li><a href="/matches">Your Matches</a></li>
					<li><a href="/voter-resources">Voter Resources</a></li>
					<li><a href="/voter-resources/new">Add a Translated Resource</a></li>
					<li><%= link_to('Logout', destroy_volunteer_session_path, :method => :delete) %></li>
					<% else %>

					<% end %>
					<div class="clear-fix"></div>
					
				</ul>
			</nav>
			<div class="clear-fix"></div>
		</div><!--.wrapper-->

	</header>

	<%= render "/shared/volunteer_sidebar" %>
	
	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>

	<%= yield %>

	<%= render "/shared/footer" %>

</body>
</html>
